


.centerform {
    position: relative;
    left: 780px;
  }

.logincenterform {
    position: relative;
    left: 717px;
}

.smooth-transition { 
    transition: color 0.3s ease; 
}

.smooth-transition:hover {
    color: #f00 !important; 
}

--bs-border-color {
    color: black;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.animate-svg-spin {
    animation: spin 3s linear infinite;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}

.animate-svg-pulse {
    animation: pulse 2s infinite;
}



.typewriter {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 5s,
        cursor .4s step-end infinite alternate;
}

@keyframes cursor {
    50% {border-color: transparent;}
}

body {
    background: linear-gradient(to bottom, white, rgba(24, 110, 255, 1));
    min-height: 100vh;
}

@keyframes typing {
    from {width: 0}
}