<link rel="stylesheet" href="/static/stylesheet.css">

<div class="container">
  <div class="row">
      <div class="col-6 mx-auto p-3 text-center">
          <img src="/static/logo-removed-bg.svg" alt="Bootstrap" class="animate-svg-pulse" style="position: relative; left: 2px;" width="400" height="400">
          <h1 style="color: rgba(24,110,255,255);">GaGex Figures</h1>
          <p class="typewriter" style="color: rgba(24,110,255,255);">Bringing Your Favorite Anime Characters to Life, One Exquisite Figure at a Time.</p>
      </div>
  </div>
</div>
